@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

$averia: 'Averia Serif Libre', cursive;


@font-face {
	font-family: 'SPBLUNT-Regular';
	src: url('fonts/sp-blunt-regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SPBLUNT-Italic';
	src: url('fonts/sp-blunt-italic.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SPBLUNT-Outline';
	src: url('fonts/sp-blunt-outline.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

$sp-blunt: 'SPBLUNT-Regular', sans-serif;
$sp-blunt-italic: 'SPBLUNT-Italic', sans-serif;
$sp-blunt-outline: 'SPBLUNT-Outline', sans-serif;