@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@font-face {
  font-family: "SPBLUNT-Regular";
  src: url("fonts/sp-blunt-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SPBLUNT-Italic";
  src: url("fonts/sp-blunt-italic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SPBLUNT-Outline";
  src: url("fonts/sp-blunt-outline.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  background: #F2F1E1;
}

body,
button,
input,
select,
optgroup,
textarea {
  color: #404041;
  font-family: "Averia Serif Libre", cursive;
  font-variant-ligatures: none;
}

::-moz-selection {
  background: #6A7690;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #6A7690;
  color: #fff;
  text-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: "SPBLUNT-Regular", sans-serif;
}

a {
  color: #404041;
  transition: all 0.2s ease-in-out;
}

.page-header h1 {
  font-family: "SPBLUNT-Outline", sans-serif;
  font-size: clamp(2rem, 4vw, 4rem);
  color: #6A7690;
}

.popup {
  top: 9rem;
  left: -1.75rem;
}
@media screen and (min-width: 480px) {
  .popup {
    top: -0.5rem;
    left: 0;
    z-index: 1001;
  }
}
@media screen and (min-width: 992px) {
  .popup {
    left: -1rem;
    top: -1rem;
    z-index: 1;
  }
}
@media screen and (min-width: 1280px) {
  .popup {
    left: -1.5rem;
    top: -3.25rem;
  }
}
.popup-link, .popup-trigger {
  background: url(images/popup-bg.svg) no-repeat 0 0;
  background-size: contain;
  width: 5.25rem;
  height: 5.25rem;
  padding: 0.75rem;
  border-radius: 0;
  color: #fff;
  font-family: "SPBLUNT-Regular", sans-serif;
  letter-spacing: 0.05em;
  font-size: 0.6125rem;
  line-height: 1.25em;
  text-transform: lowercase;
  box-shadow: none !important;
}
@media screen and (min-width: 1280px) {
  .popup-link, .popup-trigger {
    width: 6.75rem;
    height: 6.75rem;
    font-size: 0.75rem;
    padding: 1rem;
  }
}
.popup-link span, .popup-trigger span {
  display: block;
  transform: rotate(-10deg);
}

.popup-overlay .close {
  color: #6A7690;
}
.popup-overlay .info .headline h3 {
  font-size: clamp(1.5rem, 1.8vw, 1.75rem);
  color: #6A7690;
}
.popup-overlay .info .sub-headline h4 {
  color: #2a2a2a;
}
.popup-overlay .info .copy p {
  color: #2a2a2a;
}
.popup-overlay .info .btn a {
  font-size: 1.125rem;
  color: #6A7690;
}

section#heavy-at-home .overlay {
  background: rgba(242, 241, 225, 0.7);
}
section#heavy-at-home .overlay-wrapper {
  border: 5px solid #6A7690;
  background: #fff;
}
section#heavy-at-home .info .headline h1 {
  color: #6A7690;
  text-transform: lowercase;
}
@media screen and (min-width: 768px) {
  section#heavy-at-home .info .headline h1 {
    font-size: 5rem;
  }
}
section#heavy-at-home .info .copy p {
  font-size: clamp(1.375rem, 1.3vw, 1.5rem);
  line-height: 1.375rem;
  color: #404041;
}
section#heavy-at-home .info .copy p a {
  color: #404041;
}
section#heavy-at-home .info .cta .btn {
  color: #6A7690;
}
section#heavy-at-home .info .cta .btn:hover {
  background: #6A7690;
  border-color: #6A7690;
}

section.announcement p {
  font-family: "SPBLUNT-Regular", sans-serif;
  font-weight: normal;
  letter-spacing: 0.05em;
  font-size: clamp(1rem, 1.2vw, 1.125rem);
}

#covid-modal .overlay-wrapper {
  background: #F0B8A1;
  border: 1px solid #F2F1E1;
}
#covid-modal .close {
  color: #F2F1E1;
}
#covid-modal .headline {
  color: #F2F1E1;
}
#covid-modal .headline h2 {
  font-family: "SPBLUNT-Outline", sans-serif;
  font-size: clamp(1.5rem, 3vw, 2.25rem);
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
#covid-modal .content h3 {
  color: #F2F1E1;
  font-size: clamp(0.875rem, 1vw, 1rem);
  letter-spacing: 0.05em;
}
#covid-modal .content p a {
  text-decoration: underline;
}

#cinco-de-mayo {
  background: #E7D366;
  color: #fff;
  padding: 1rem 2rem;
  text-align: center;
}
#cinco-de-mayo h2 {
  font-size: 0.875rem;
  letter-spacing: 0.025em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
#cinco-de-mayo #clock {
  color: #fff;
  background: #6A7690;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
}

@media screen and (min-width: 1280px) {
  .site-header .site-nav li:after {
    padding: 0 1.25rem;
  }
}
.site-header .site-nav a {
  font-family: "SPBLUNT-Regular", sans-serif;
  font-weight: normal;
  font-size: 0.875rem;
}
.site-header .site-nav a:hover {
  color: #F0B8A1;
}
@media screen and (min-width: 992px) {
  .site-header .nameplate .nameplate-wrapper {
    border-color: #404041;
    justify-content: space-between;
    padding: 4rem 0 6rem 0;
  }
}
.site-header .nameplate .logo a {
  display: block;
}
.site-header .nameplate .logo .image {
  flex: 1;
}
@media screen and (min-width: 480px) {
  .site-header .nameplate .logo .image {
    flex: none;
  }
}
@media screen and (min-width: 992px) {
  .site-header .nameplate .logo .image {
    display: flex;
    justify-content: center;
  }
}
.site-header .nameplate .logo .image img {
  width: 100%;
  max-width: 225px;
}
@media screen and (min-width: 992px) {
  .site-header .nameplate .logo .image img {
    max-width: 365px;
  }
}
.site-header .nameplate .info h3 {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  font-family: "SPBLUNT-Outline", sans-serif;
  font-weight: normal;
}
.site-header .nameplate .info p {
  font-size: clamp(0.8125rem, 1.2vw, 1.125rem);
  font-family: "SPBLUNT-Regular", sans-serif;
  font-style: normal;
  letter-spacing: 0.05em;
}
.site-header .hamburger .patty {
  background: #404041;
}
.site-header .hamburger .patty:after, .site-header .hamburger .patty:before {
  background: #404041;
}
.site-header .mobile-nav {
  border-bottom: 1px solid #F0B8A1;
}
.site-header .mobile-nav ul a {
  font-family: "SPBLUNT-Regular", sans-serif;
  letter-spacing: 0.1em;
  padding: 0.75rem 0.5rem;
}
.site-header .mobile-nav ul a:hover {
  color: #F0B8A1;
}

.site-header.status-view .status {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.site-header.status-view .logo {
  width: 100%;
}
@media screen and (min-width: 992px) {
  .site-header.status-view .logo {
    width: auto;
  }
}
.site-header.status-view .logo .image {
  width: 80%;
}
@media screen and (min-width: 992px) {
  .site-header.status-view .logo .image {
    width: 100%;
  }
}
.site-header.status-view .logo .image img {
  margin: 0;
  transform: none;
  max-width: 200px;
}
@media screen and (min-width: 768px) {
  .site-header.status-view .logo .image img {
    margin: 0;
    max-width: 300px;
  }
}
@media screen and (min-width: 1280px) {
  .site-header.status-view .logo .image img {
    max-width: 300px;
  }
}
.site-header.status-view .message {
  width: 100%;
  flex: 1;
  text-align: center;
  padding-top: 25px;
}
@media screen and (min-width: 992px) {
  .site-header.status-view .message {
    padding-left: 50px;
    text-align: left;
    width: auto;
    padding-top: 0;
  }
}
.site-header.status-view .message .headline {
  padding-bottom: 10px;
}
.site-header.status-view .message .headline h2 {
  font-weight: 700;
  font-size: 1.75rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 1280px) {
  .site-header.status-view .message .headline h2 {
    font-size: 2rem;
  }
}
.site-header.status-view .message .copy p {
  font-size: 1.125rem;
  font-style: normal;
  line-height: 1.75em;
  text-transform: none;
}
.site-header.status-view .message .copy p + p {
  padding-top: 10px;
}
@media screen and (min-width: 1280px) {
  .site-header.status-view .message .copy p {
    font-size: 1.25rem;
  }
}

body.page-template-location .page-location,
body.page-template-gallery .page-gallery,
body.page-template-menu .page-dine-in-menus {
  color: #F0B8A1;
}

.site-footer {
  background: #2a2a2a;
}

body.page-template-home section.hero {
  position: relative;
  max-height: 900px;
}
body.page-template-home section.hero:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 50%;
}
body.page-template-home section.hero > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body.page-template-home section.hero img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body.page-template-home section.details {
  padding: 3rem 0;
}
@media screen and (min-width: 992px) {
  body.page-template-home section.details {
    padding: 2rem 0 4rem 0;
  }
}
body.page-template-home section.details .gallery {
  display: grid;
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  body.page-template-home section.details .gallery {
    grid-column: 6/span 4;
    grid-row: 1;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-home section.details .gallery {
    grid-column: 6/span 8;
    grid-template-columns: 1fr 1fr;
  }
}
body.page-template-home section.details .gallery .photo {
  position: relative;
}
body.page-template-home section.details .gallery .photo:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
body.page-template-home section.details .gallery .photo > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body.page-template-home section.details .gallery .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body.page-template-home section.details .gallery .inset {
  position: relative;
}
body.page-template-home section.details .gallery .inset:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 37.5%;
}
body.page-template-home section.details .gallery .inset > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@media screen and (min-width: 992px) {
  body.page-template-home section.details .gallery .inset {
    grid-column: 1/span 2;
  }
}
body.page-template-home section.details .info {
  padding-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  body.page-template-home section.details .info {
    grid-column: 2/span 4;
    grid-row: 1;
    padding-bottom: 0;
    padding-right: 2rem;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-home section.details .info {
    padding-top: 2.5em;
  }
}
body.page-template-home section.details .info .headline {
  padding-bottom: 1rem;
}
body.page-template-home section.details .info .headline h2 {
  color: #6A7690;
  font-family: "SPBLUNT-Outline", sans-serif;
  font-size: clamp(1.5rem, 2vw, 2.5rem);
  line-height: 1.25em;
  letter-spacing: 0.05em;
}
body.page-template-home section.details .info .copy p {
  font-size: clamp(1.25rem, 1.125vw, 1.5rem);
  line-height: 1.5em;
  letter-spacing: 0.02em;
  text-transform: lowercase;
}
body.page-template-home section.details .info .copy p + p {
  padding-top: 1rem;
}

body.page-template-location section.location .info {
  padding-right: 2rem;
}
body.page-template-location section.location .info h3 {
  color: #6A7690;
  letter-spacing: 0.05em;
  line-height: 1.125em;
}
body.page-template-location section.location .info p {
  font-size: clamp(1rem, 1.2vw, 1.25rem);
  line-height: 1.25em;
  letter-spacing: 0.02em;
  text-transform: lowercase;
}
body.page-template-location section.location .info p + h3 {
  margin-top: 3rem;
}
body.page-template-location section.location .info a {
  text-decoration: underline;
}
body.page-template-location section.location .map {
  padding-bottom: 3rem;
}

@media screen and (min-width: 768px) {
  body.page-template-menu .menu-section.columns-two .items {
    -moz-column-gap: 6rem;
         column-gap: 6rem;
  }
}
body.page-template-menu .menu-section.specials .section-header {
  display: none;
}
@media screen and (min-width: 992px) {
  body.page-template-menu .menu-section.specials {
    grid-column: 3/span 10;
  }
}
@media screen and (min-width: 1280px) {
  body.page-template-menu .menu-section.specials {
    grid-column: 4/span 8;
  }
}
body.page-template-menu .menu-section.specials .items {
  padding: 3rem 3rem 1rem 3rem;
}
@media screen and (min-width: 992px) {
  body.page-template-menu .menu-section.specials .items {
    padding: 4rem 4rem 2rem 4rem;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-menu .menu-section.specials .items .item {
    margin: 0 auto 3rem auto;
    max-width: 30rem;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-menu .menu-section.specials .image {
    padding-bottom: 0;
  }
  body.page-template-menu .menu-section.specials .image img {
    position: absolute;
    top: 3rem;
    left: -6rem;
    z-index: 10;
  }
}
body.page-template-menu .section-header {
  margin-bottom: 2rem;
}
body.page-template-menu .section-header h3 {
  font-family: "SPBLUNT-Outline", sans-serif;
  font-size: clamp(2rem, 3.15vw, 3.25rem);
  letter-spacing: 0.02em;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid;
}
body.page-template-menu .notes p {
  font-size: clamp(1rem, 1.1vw, 1.125rem);
  font-style: italic;
}
body.page-template-menu nav.menu-subnav a {
  font-family: "SPBLUNT-Italic", sans-serif;
  font-size: clamp(1.25rem, 1.5vw, 1.75rem);
  letter-spacing: 0.02em;
}
body.page-template-menu nav.menu-subnav a.active, body.page-template-menu nav.menu-subnav a:hover {
  font-family: "SPBLUNT-Outline", sans-serif;
  font-style: italic;
}
body.page-template-menu .item.special {
  text-align: center;
  padding: 1.5rem;
}
body.page-template-menu .item .title h4 {
  letter-spacing: 0.02em;
}
body.page-template-menu .item .title h4 .price:before {
  content: "·";
  padding-left: 0.25rem;
  padding-right: 0.5rem;
}
body.page-template-menu .item .details p span.note, body.page-template-menu .item .details p span.options {
  font-style: italic;
}
body.page-template-menu .theme-beige .section-header h3 {
  color: #6A7690;
}
body.page-template-menu .theme-beige .item {
  color: #6A7690;
}
body.page-template-menu .theme-beige .footer-copy * {
  color: #6A7690;
}
body.page-template-menu .theme-yellow {
  background: #E7D366;
}
body.page-template-menu .theme-yellow .specials .items {
  background: #F2F1E1;
}
body.page-template-menu .theme-yellow .section-header h3 {
  color: #F2F1E1;
}
body.page-template-menu .theme-yellow .special {
  background: #F2F1E1;
}
body.page-template-menu .theme-yellow nav.menu-subnav a.active {
  color: #F2F1E1;
}
body.page-template-menu .theme-beige-pink .section-header h3 {
  color: #F2AB8D;
}
body.page-template-menu .theme-beige-pink .item, body.page-template-menu .theme-beige-pink .notes {
  color: #F2AB8D;
}
body.page-template-menu .theme-beige-pink .footer-copy * {
  color: #F2AB8D;
}
body.page-template-menu .theme-blue {
  background: #6A7690;
}
body.page-template-menu .theme-blue nav.menu-subnav a.active {
  color: #F2F1E1;
}
body.page-template-menu .theme-blue .section-header h3 {
  color: #F2F1E1;
}
body.page-template-menu .theme-blue .item, body.page-template-menu .theme-blue .notes {
  color: #F2F1E1;
}
body.page-template-menu .theme-blue .special {
  background: #F2F1E1;
  color: #6A7690;
}
body.page-template-menu .theme-blue .footer-copy * {
  color: #F2F1E1;
}
body.page-template-menu .theme-pink {
  background: #F0B8A1;
}
body.page-template-menu .theme-pink .specials .items {
  background: #F2F1E1;
}
body.page-template-menu .theme-pink nav.menu-subnav a.active {
  color: #F2F1E1;
}
body.page-template-menu .theme-pink .section-header h3 {
  color: #F2F1E1;
}
body.page-template-menu .theme-pink .item, body.page-template-menu .theme-pink .notes {
  color: #404041;
}
body.page-template-menu .theme-pink .special {
  background: #F2F1E1;
}
body.page-template-menu .template-agave .agave-intro {
  padding-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  body.page-template-menu .template-agave .agave-intro {
    padding-bottom: 4rem;
  }
}
body.page-template-menu .template-agave .intro-header {
  padding-bottom: 1rem;
}
body.page-template-menu .template-agave .intro-header h4 {
  font-style: italic;
  color: #F2AB8D;
  font-size: clamp(1.25rem, 1.4vw, 1.5rem);
  letter-spacing: 0.05em;
}
body.page-template-menu .template-agave .intro-contents .content {
  padding: 1.5rem 2rem;
  color: #F0B8A1;
  border-color: #F0B8A1;
}
body.page-template-menu .template-agave .intro-contents .content .headline h5 {
  font-size: clamp(1rem, 1.2vw, 1.125rem);
  letter-spacing: 0.1em;
}
body.page-template-menu .template-agave .intro-contents .content .copy {
  text-transform: lowercase;
}
body.page-template-menu .template-agave .intro-contents .content-2 {
  background: rgba(240, 184, 161, 0.1);
}
body.page-template-menu .template-agave .intro-contents .content-3 {
  background: rgba(240, 184, 161, 0.3);
}
body.page-template-menu .template-agave .intro-contents .content-4 {
  background: rgb(240, 184, 161);
  color: #F2F1E1;
}

body.page-template-group-dining .section-header h3 {
  font-size: clamp(2rem, 3vw, 2.75rem);
  font-family: "SPBLUNT-Outline", sans-serif;
  font-weight: normal;
  color: #6A7690;
  letter-spacing: 0.05em;
}
body.page-template-group-dining section.header {
  color: #2a2a2a;
}
body.page-template-group-dining section.header .cta .btn {
  font-family: "SPBLUNT-Regular", sans-serif;
  background: #E7D366;
  border-radius: 2px;
}
body.page-template-group-dining section.faqs {
  color: #2a2a2a;
}
body.page-template-group-dining section.faqs .question h4 {
  color: #6A7690;
  font-weight: normal;
}
body.page-template-group-dining section.faqs .faqs-list + .cta {
  padding-top: 3rem;
}
body.page-template-group-dining section.faqs .cta {
  padding-top: 0;
}
body.page-template-group-dining section.faqs .cta .btn {
  background: #F2AB8D;
  font-family: "SPBLUNT-Regular", sans-serif;
  border-radius: 2px;
}
body.page-template-group-dining section.header + section.faqs {
  padding-top: 0;
}
body.page-template-group-dining section.form {
  color: #6A7690;
}
body.page-template-group-dining section.form a {
  text-decoration: underline;
  color: #6A7690;
}
body.page-template-group-dining section.form .forminator-custom-form .forminator-response-message {
  background: #6A7690;
  color: #fff;
  padding: 1rem;
}
body.page-template-group-dining section.form .forminator-custom-form .forminator-button-submit {
  background: #F2AB8D;
  font-family: "SPBLUNT-Regular", sans-serif;
  border-radius: 2px;
}
body.page-template-group-dining section.form .forminator-custom-form .forminator-field input {
  border: 1px solid #F2AB8D;
}
body.page-template-group-dining section.form .forminator-custom-form .forminator-field label {
  color: #6A7690;
  font-family: "SPBLUNT-Regular", sans-serif;
  font-weight: normal;
}
body.page-template-group-dining section.form .forminator-custom-form .forminator-field label span.forminator-required {
  color: #F2AB8D;
}
body.page-template-group-dining section.form .forminator-custom-form .forminator-field .forminator-error-message {
  color: #6A7690;
}
body.page-template-group-dining .ui-datepicker-prev span, body.page-template-group-dining .ui-datepicker-next span {
  color: #6A7690;
}
body.page-template-group-dining .ui-datepicker-month, body.page-template-group-dining .ui-datepicker-year {
  color: #fff;
  background: #F2AB8D;
  border-color: #F2AB8D;
  font-weight: bold;
}
body.page-template-group-dining .ui-datepicker-calendar {
  border-left: 1px solid #6A7690;
}
body.page-template-group-dining .ui-datepicker-calendar th {
  background: #6A7690;
}
body.page-template-group-dining .ui-datepicker-calendar td {
  border-right: 1px solid #6A7690;
  border-bottom: 1px solid #6A7690;
}
body.page-template-group-dining .ui-datepicker-calendar td a:hover, body.page-template-group-dining .ui-datepicker-calendar td a.ui-state-active {
  background: #F2AB8D;
  color: #fff;
}