.site-header {
    @import 'site-nav'; 

	@import 'nameplate'; 

	@import 'hamburger'; 

	@import 'mobile-nav'; 
}

@import 'status-view';

body.page-template-location .page-location,
body.page-template-gallery .page-gallery,
body.page-template-menu .page-dine-in-menus {
    color: $pink;
}