.mobile-nav {
    border-bottom: 1px solid $pink;

	ul {

		a {
            font-family: $sp-blunt;
            letter-spacing: 0.1em;
            padding: 0.75rem 0.5rem;

            &:hover {
                color: $pink;
            }
		}
	}
}