.nameplate {
	.nameplate-wrapper {
        @include desktop-small {
            border-color: $charcoal;
            justify-content: space-between;
            padding: 4rem 0 6rem 0;

        }
	}

    .logo {
        a {
            display: block;
        }

        .image {
            flex: 1;

            @include tablet-small {
                flex: none;
            }

            @include desktop-small {
                display: flex;
                justify-content: center;
            }

            img {
                width: 100%;
                max-width: 225px;

                @include desktop-small {
                    max-width: 365px;
                }
            }
        }
    }

	.info{
		h3 {
            font-size: clamp(1rem, 1.5vw, 1.5rem);
            font-family: $sp-blunt-outline;
            font-weight: normal;
		}

		p {

            font-size: clamp(0.8125rem, 1.2vw, 1.125rem);
            font-family: $sp-blunt;
            font-style: normal;
            letter-spacing: 0.05em;
        }
	}
}