.site-nav {
    li:after {
        @include desktop-medium {
            padding: 0 1.25rem;
        }
    }

    a {
        font-family: $sp-blunt;
        font-weight: normal;
        font-size: 0.875rem;

        &:hover {
            color: $pink;
        }
    }
}