body,
button,
input,
select,
optgroup,
textarea {
	color: $charcoal;
	font-family: $averia;
	font-variant-ligatures: none;
}


::-moz-selection {
	background: $blue;
	color: $white;
	text-shadow: none;
}

::selection {
	background: $blue;
	color: $white;
	text-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	font-family: $sp-blunt;
}

a {
	color: $charcoal;
	transition: all 0.2s ease-in-out;
}

.page-header {
	h1 {
		font-family: $sp-blunt-outline;
		font-size: clamp(2rem, 4vw, 4rem);
		color: $blue;
	}
}