body.page-template-group-dining {
    .section-header {
        h3 {
            font-size: clamp(2rem, 3vw, 2.75rem);
            font-family: $sp-blunt-outline;
            font-weight: normal;
            color: $blue;
            letter-spacing: 0.05em;
        }
    }

    section.header {
        color: $slate;

        .cta {
            .btn {
                font-family: $sp-blunt;
                background: $yellow;
                border-radius: 2px;
            }
        }
    }

    section.faqs {
        color: $slate;

        .question {
            h4 {
                color: $blue;
                font-weight: normal;
            }
        }

        .faqs-list + .cta {
            padding-top: 3rem;
        }

        .cta {
            padding-top: 0;

            .btn {
                background: $dark-pink;
                font-family: $sp-blunt;
                border-radius: 2px;
            }
        }
    }

    section.header + section.faqs {
        padding-top: 0;
    }

    section.form {
        color: $blue;

        a {
            text-decoration: underline;
            color: $blue;
        }

        .forminator-custom-form {
            .forminator-response-message {
                background: $blue;
                color: $white;
                padding: 1rem;
            }

            .forminator-button-submit {
                background: $dark-pink;
                font-family: $sp-blunt;
                border-radius: 2px;
            }

            .forminator-field {
                input {
                    border: 1px solid $dark-pink;
                }

                label {
                    color: $blue;
                    font-family: $sp-blunt;
                    font-weight: normal;

                    span.forminator-required {
                        color: $dark-pink;
                    }
                }

                .forminator-error-message {
                    color: $blue;
                }
            }
        }
    }

    .ui-datepicker {
        &-prev,
        &-next {
            span {
                color: $blue;
            }
        }

        &-month,
        &-year {
            color: $white;
            background: $dark-pink;
            border-color: $dark-pink;
            font-weight: bold;
        }

        &-calendar {
            border-left: 1px solid $blue;

            th {
                background: $blue;
            }

            td {
                border-right: 1px solid $blue;
                border-bottom: 1px solid $blue;

                a {
                    &:hover,
                    &.ui-state-active {
                        background: $dark-pink;
                        color: $white;
                    }
                }
            }
        }
    }
}
