section.details {
    padding: 3rem 0;

    @include desktop-small {
        padding: 2rem 0 4rem 0;
    }

    .gallery {
        display: grid;
        gap: 1rem;

        @include tablet {
            grid-column: 6 / span 4;
            grid-row: 1;
        }

        @include desktop-small {
            grid-column: 6 / span 8;
            grid-template-columns: 1fr 1fr
        }

        .photo {
            @include aspect-ratio(16, 9);
            @include cover-fill-image;
        }

        .inset {
            @include aspect-ratio(16, 6);

            @include desktop-small {
                grid-column: 1 / span 2;
            }
        }
    }

    .info {
        padding-bottom: 2rem;

        @include tablet {
            grid-column: 2 / span 4;
            grid-row: 1;
            padding-bottom: 0;
            padding-right: 2rem;
        }

        @include desktop-small {
            padding-top: 2.5em;
        }

        .headline {
            padding-bottom: 1rem;

            h2 {
                color: $blue;
                font-family: $sp-blunt-outline;
                font-size: clamp(1.5rem, 2vw, 2.5rem);
                line-height: 1.25em;
                letter-spacing: 0.05em;
            }
        }

        .copy {

            p {
                font-size: clamp(1.25rem, 1.125vw, 1.5rem);
                line-height: 1.5em;
                letter-spacing: 0.02em;
                text-transform: lowercase;

                & + p {
                    padding-top: 1rem;
                }
            }
        }

    }
}