#cinco-de-mayo {
    background: $yellow;
    color: $white;
    padding: 1rem 2rem;
    text-align: center;

    h2 {
        font-size: 0.875rem;
        letter-spacing: 0.025em;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }

    #clock {
        color: $white;
        background: $blue;
        padding: 0.25rem 0.5rem;
        border-radius: 3px;
    }
}
