#covid-modal {
	.overlay {
		&-wrapper {
			background: $pink;
			border: 1px solid $beige;
		}
	}

	.close {
		color: $beige;
	}

	.headline {
		color: $beige;

		h2 {
			font-family: $sp-blunt-outline;
			font-size: clamp(1.5rem, 3vw, 2.25rem);
			text-transform: uppercase;
			letter-spacing: 0.05em;
		}
	}

	.content {

		h3 {
			color: $beige;
			font-size: clamp(0.875rem, 1vw, 1rem);
			letter-spacing: 0.05em;
		}

		p {

			a {
				text-decoration: underline;
			}
		}
	}
}