.template-agave {

    .agave-intro {
        padding-bottom: 3rem;

        @include tablet {
            padding-bottom: 4rem;
        }
    }

    .intro-header {
        padding-bottom: 1rem;

        h4 {
            font-style: italic;
            color: $dark-pink;
            font-size: clamp(1.25rem, 1.4vw, 1.5rem);
            letter-spacing: 0.05em;
        }
    }

    .intro-contents {
        .content {
            padding: 1.5rem 2rem;
            color: $pink;
            border-color: $pink;

            .headline {
                h5 {
                    font-size: clamp(1rem, 1.2vw, 1.125rem);
                    letter-spacing: 0.1em;
                }
            }

            .copy {
                text-transform: lowercase;
            }

        }

        .content-2 {
            background: rgba(240, 184, 161, 0.1);
        }

        .content-3 {
            background: rgba(240, 184, 161, 0.3);
        }

        .content-4 {
            background: rgba(240, 184, 161, 1);
            color: $beige;
        }
    }
}