.item {

    &.special {
        text-align: center;
        padding: 1.5rem;
    }
    
    .title {
        h4 {
            letter-spacing: 0.02em;

            .price {
                &:before {
                    content: '·';
                    padding-left: 0.25rem;
                    padding-right: 0.5rem;
                }
            }
        }

    }

    .details {
        p {

            span {      
                &.note,
                &.options {
                    font-style: italic;
                }
            }
        }
    }
}