nav.menu-subnav {
    a {
        font-family: $sp-blunt-italic;
        font-size: clamp(1.25rem, 1.5vw, 1.75rem);
        letter-spacing: 0.02em;

        &.active,
        &:hover {
            font-family: $sp-blunt-outline;
            font-style: italic;
        }
    }
}