.section-header {
    margin-bottom: 2rem;

    h3 {
        font-family: $sp-blunt-outline;
        font-size: clamp(2rem, 3.15vw, 3.25rem);
        letter-spacing: 0.02em;
        padding-bottom: 0.5rem;
        border-bottom: 2px solid;
    }
}

.notes {
    p {
        font-size: clamp(1rem, 1.1vw, 1.125rem);
        font-style: italic;
    }
}