// BEIGE
.theme-beige {
    .section-header {
        h3 {
            color: $blue;
        }
    }

    .item {
        color: $blue;
    }

    .footer-copy {
        * {
            color: $blue;
        }
    }
}


// YELLOW
.theme-yellow {
    background: $yellow;

    .specials {
        .items {
            background: $beige;
        }
    }

    .section-header {
        h3 {
            color: $beige;
        }
    }

    .special {
        background: $beige;
    }

    nav.menu-subnav {
        a.active {
            color: $beige;
        }
    }
}


// BEIGE PINK
.theme-beige-pink {


    .section-header {
        h3 {
            color: $dark-pink;
        }
    }

    .item, .notes {
        color: $dark-pink;
    }

    .footer-copy {
        * {
            color: $dark-pink;
        }
    }

}


// BLUE
.theme-blue {
    background: $blue;

    nav.menu-subnav {
        a.active {
            color: $beige;
        }
    }

    .section-header {
        h3 {
            color: $beige;
        }
    }

    .item, .notes {
        color: $beige;
    }

    .special {
        background: $beige;
        color: $blue;;
    }

    .footer-copy {
        * {
            color: $beige;
        }
    }

}


// PINK
.theme-pink {
    background: $pink;

    .specials {
        .items {
            background: $beige;
        }
    }

    nav.menu-subnav {
        a.active {
            color: $beige;
        }
    }

    .section-header {
        h3 {
            color: $beige;
        }
    }

    .item, .notes {
        color: $charcoal;
    }
    
    .special {
        background: $beige;
    }
}